body{
  margin: 0%;
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    height: 80px;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#img-logo{
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 40px;
}

.nav-spot{
    width: 205px;
}

#title{
    font-size: 24px;
    margin-left: 5px;
}

#side-nav{
    display: flex;
    flex-direction: row;
}

ul{
    padding: 0%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li{
    text-decoration: none;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.nav-btn{
    width: 70px;
    height: 40px;
    color: white;
    font-size: 17px;
    background-color: rgb(59, 59, 59);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.nav-btn:hover{
    background-color:  rgb(255, 255, 255, 0.2);
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form{
    max-width: 370px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input{
  width: 200px;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
}

.form-btn{
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 234, 234);
    width: 70px;
    height: 35px;
    border-style: thin;
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.form-btn:hover{
    background-color: rgb(198, 198, 198);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

.cards{
    width: 200px;
    height: 250px;
    margin: 15px;
    background-color: lightblue;
    border-style: groove;
    border-color: rgb(62, 62, 62);
    border-radius: 10px;
    border-width: thin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#card-title{
    width: 100%;
    height: 50px;
    background-color: rgb(62, 62, 62);
    color: white;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

#card-j{
    background-color: rgb(233, 233, 233);
    padding: 12px;
    border-width: medium;
}

.card-info{
    margin: 5px;
}

#editForm{
    display: none;
}
    
#editFormJ{
    display: none;
}

#createFormJ{
    display: none;
}
    
#searchFormJ{
    display: none;
}

#s_input_nome{
    display: none;
}

#search_button_nome{
    display: none;
}

#s_nomeA{
    display: none;
}

#search_nomeA{
    display: none;
}

#s_nomeB{
    display: none;
}

#search_nomeB{
    display: none;
}

#edit_button_jogos{
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 196, 196);
    width: 70px;
    height: 35px;
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#edit_button_jogos:hover{
    background-color: rgb(228, 228, 228);
}

.radio-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#clickEdit{
    margin-bottom: 8px;
}

.time-space{
    width: auto;
    padding: 5px 8px 5px 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: thin;
}

#color-time-1{
    background-color: rgb(154, 239, 239);
}

#color-time-2{
    background-color: rgb(235, 145, 145);
}

@media only screen and (max-width: 470px) {
    #img-spot{
        display: none;
    }
  }

@media only screen and (max-width: 300px) {
    #title{font-size: 15px;}

    .nav-spot{
        width: 100px;
    }
    
    ul{
        width: 130px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    li{
        text-decoration: none;
        margin-right: 0%;
        margin-left: 0%;
    }
    
    .nav-btn{
        width: 50px;
        height: 30px;
        font-size: 15px;
    }
}